<footer class="page-footer foot">
  <div class="flex-display">
      <div class="container-fluid">
                <p  class="foot-brand" [ngClass]="themeColor =='light' ? 'color-white' : 'color-white'" > 
                    Unleash will never sell, resell, lease, or the functional equivalent, any Unleash data to a third party or serve advertising or process
                    data for any advertising purpose. The laws of some countries, including the United States, impose restrictions on the online 
                    collection and use of information from children and students. Unleash complies with the U.S. Family Educational Rights and 
                    Privacy Act of 1974 (FERPA), the Children's Online Privacy Protection Act of 1998 (COPPA), and all other applicable laws and 
                    regulations. Google Doc.
                    <a href="../../assets/google classroom disclaimer + api.docx" target="_blank"><u>google classroom disclaimer + api.docx</u></a></p>
          </div>
       </div>
</footer>
