<app-header></app-header>
<div class="container-fluid row1 m-p-0">
  <div class="container">
    <div class="flex-display row10 m-t-46 ">
      <div class="row row100 ">
        <div class="heading">HOW IT WORKS</div>
        <p class="content m-t-50">This application is very simple. Giving students a chance to write about important
          values in their lives has been shown to help them stay resilient and perform up to their potential. But
          there’s a catch: they need to do these activities at the RIGHT time—before a stressful event. That’s where
          this app comes in.</p>
        <p class="content m-t-20">Here are the three steps that will deliver the activities to your students for maximal
          benefit.</p>
        <button class="buttonStart m-t-30 m-b-50">GET STARTED</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row m-t-60">
    <div class="col-lg-4 flex-display-row">
      <img class="m-t-15" src="../../assets/images/001-calendar.png" width="220px" height="210px">
    </div>
    <div class="col-lg-8">
      <div class="text-content">
        <p class="heading-work">Record a date when you think students might feel stressed.</p>
        <p class="content-work m-t-30">This could be the date of a test or homework assignment, or maybe it’s just the
          beginning
          of the school year, or RIGHT NOW.</p>
      </div>
    </div>
  </div>
  <div class="row m-t-130 flex-reverse-row">
    <div class="col-lg-8 col-sm-12">
      <p class="heading-work">Create a roster to identify which students you need to help.</p>
      <p class="content-work m-t-30">You don’t have to get too specific here. There’s no harm to sending these
        activities to everyone. So the roster you create could be all the students in your classroom or a few students
        that you work with.</p>
    </div>
    <div class="col-lg-4 col-sm-12 flex-display-row">
      <img class="m-t-15" src="../../assets/images/003-program.png" width="320px" height="219px">
    </div>
  </div>
  <div class="row m-t-130">
    <div class="col-lg-4 flex-display-row">
      <img class="m-t-15" src="../../assets/images/002-smartphone.png" width="141px" height="275px">
    </div>
    <div class="col-lg-8">
      <div class="text-content">
        <p class="heading-work">Send activities to the roster of students.</p>
        <p class="content-work m-t-30">That’s all you need to do. We’ll take it from here. We’ll send the activities to
          students to complete and we will keep you updated how it went. We’ll also send your students a brief survey
          before and after the activity to assess its impact, and we’ll share the results with you. If you like, you can
          see the activities before we send them.</p>
      </div>
    </div>
  </div>
  <div class="text-center m-t-130 p-b-130">
    <button class="buttonStart">GET STARTED</button>
    <div href="#" class="learn-more" style="margin-bottom:40px;">LEARN MORE</div>
  </div>
</div>