
<div class="container-fluid row1">
    <div class="container-fluid">
        <app-header></app-header>
        <div class="back-to-dashboard container" (click)="goToDashboard()">&larr; Back to Dashboard</div>
        <div class="contact-container">
            <div class="contact-header">Contact Us</div>
            <div class="container contact-content">
                <div class="row">
                    <div class="col-md-8 p-50">
                        <div class="contact-content-header">Get in Touch
                                <div class="hr1"></div>
                                <div class="contactUs-col-label">If you would like to contact those in charge of this application,
                                    please reach out to 
                                    <u><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=unleashstudents@gmail.com" target="_blank">unleashstudents@gmail.com</a></u>
                                </div>
                            </div>
                            <div style="padding-top:48px">
                            <div class="contact-content-header">Who's Involved
                                <div class="hr1"></div>
                                <div id=wrapper>
                                    <div class="contactUs-col-label"><u>Geoffrey Cohen</u></div>
                                    <div class="contact-col-label">Professor, Stanford University</div>
                                </div>
                                <div id=wrapper>
                                    <div class="contactUs-col-label"><u>Raj K. Bhargava</u></div>
                                    <div class="contact-col-label">Executive, Innovator, Educator, Advisor</div>
                                </div>
                            </div>
                            </div>     
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>