.navbar-inverse {
    background-color: white;
    border-color: white;
    border-radius: 0px;
}

.icon-bar {
    background-color: #555555;
}

.navbar-brand {
    color: #0D0D0D;
    font-size: 37px;
    letter-spacing: 2.68px;
    line-height: 19px;
    font-weight: 600;
    font-family:var(--primary-font);
}

.w-100 {
    width: 100%;
}

.btn:hover{
    color: white;
}
.container{
    padding-bottom: 167px;
}
.container-fluid {
    padding: 0px !important;
    overflow-y: auto;
    height: 100%;
}

.text-center {
    text-align: center;
}

.menu-items {
    margin: 7px 0px;
    color: #0D0D0D !important;
    font-family: var(--secondary-font);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 16px;
}

.create-account {
    color: #FFFFFF;
    font-family: var(--secondary-font);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 18px;
    /* background: #5c5c5c; */
    margin-top: 13px;
    background-image: linear-gradient(to top, #3b3a3a, #8a8a8a);
    padding: 5px 10px;
    border-radius: 2px;
}

.pr-10 {
    padding-right: 10px;
}

.resetpass-container-block {
    background-image: url(./../../assets/images/registrationBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.resetpassword-container {
    max-width: 494px;
    border-radius: 8px;
    background-color: #EFEFEF;
    box-shadow: 0 4px 10px 0 rgba(108, 108, 108, 0.5);
    margin: 2% auto;
    padding: 40px;
}

.page-header-text {
    color: #000000;
    font-family: var(--primary-font);
    font-size: 29px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

.nextBtn-block {
    text-align: center;
    margin: 20px 0px;
}

.nextBtn {
    height: 35px;
    width: 90%;
    margin: 0 auto;
    border: transparent;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    background: linear-gradient(#DCF1F5, #59B3CA);
}

.subtext {
    text-align: center;
    height: 38px;
    max-width: 295px;
    color: #444444;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
}

.formInput {
    height: 40px;
    width: 90%;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
    margin: 0 auto;
}

.formInput input {
    height: 40px;
}

.formText {
    height: 15px;
    color: #5F5F5F;
    font-family: var(--secondary-font);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.21px;
    line-height: 15px;
    padding-left: 6%;
}

.form-group {
    margin: 30px 0px!important;
}

.inputAlign {
    width: 100%;
    margin: 0px;
}

.error {
    height: 14px;
    /* width: 184px; */
    color: #FF9999;
    font-family: var(--secondary-font);
    font-size: 12px;
    line-height: 14px;
    /* white-space: nowrap; */
    margin-top: 6px;
    padding-left: 6%;
}

.is-invalid {
    border: 1px solid #FF9999;
}

@media screen and (max-width: 600px) {
    .resetpass-container-block{
        min-height: 110%;
        /* height: 100%; */
    }
    .resetpassword-container{
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 600px){
    html,
    body {
      height: 100%;
      min-height: 100%;
    }
  }