<div class="resetpass-container-block">
    <app-header></app-header>
    <div class="container">
        <div class="resetpassword-container">
            <div class="page-header-text">
                Password Recovery
            </div>
            <div class="subtext">
                It happens… Please provide the email address associated to your Unleash account.
            </div>
            <div class="resetpassword-block">
                <form [formGroup]="resetpassForm">
                    <div class="row form-group inputAlign">
                        <div class="formText">
                            <div> EMAIL ADDRESS </div>
                        </div>
                        <div class="formInput">
                            <input formControlName="email" id="email" type="text"
                                oninput="this.value = this.value.toLowerCase()" placeholder="Email Address"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && resetpassForm.controls.email.errors }">
                        </div>
                        <div class="error" *ngIf="submitted && resetpassForm.controls.email.errors?.required">Email is
                            required</div>
                        <div class="error" *ngIf="submitted && resetpassForm.controls.email.errors?.email">Incorrect
                            email
                            address. Please try again.</div>
                            <div class="error" *ngIf="successMessage">{{resetMessage}}</div>
                    </div>

                    <div class="nextBtn-block">
                        <button type="button" class="btn w-100 buttonStart" (click)="resetPassword()">Send Verification
                            email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>