<div class="recoverpass-container-block">
    <app-header></app-header>
    <div class="container">
        <div class="recoverpassword-container" *ngIf="showSuccessMsg == false">
            <div class="page-header-text">
                Password Recovery
            </div>
            <div class="subtext">
                Please confirm your new password to access your Unleash account.
            </div>
            <div class="recoverpassword-block">
                <form [formGroup]="recoverpassForm">

                    <div class="row form-group inputAlign">
                        <div class="formText">
                            <div> PASSWORD </div>
                        </div>
                        <div class="formInput">
                            <input formControlName="password" id="password" type="password" placeholder="Password"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && recoverpassForm.controls.password.errors }">
                        </div>
                        <div class="error" *ngIf="submitted && recoverpassForm.controls.password.errors?.required">
                            Password is required</div>
                        <div class="error" *ngIf="submitted && recoverpassForm.controls.password.errors?.pattern">Password must includes 6 characters,
                                atleast 1 Uppercase, 1 Special Char and 1 number.</div>
                    </div>

                    <div class="row form-group inputAlign">
                        <div class="formText">
                            <div> CONFIRM PASSWORD </div>
                        </div>
                        <div class="formInput">
                            <input formControlName="confirmPassword" id="confirmPassword" type="password"
                                placeholder="Password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && recoverpassForm.controls.confirmPassword.errors }">
                        </div>
                        <div class="error"
                            *ngIf="submitted && recoverpassForm.controls.confirmPassword.errors?.required">
                            Password is required</div>
                        <div class="error"
                            *ngIf="submitted && recoverpassForm.controls.password.value !== recoverpassForm.controls.confirmPassword.value">
                            Password mismatch.</div>
                            <div class="error" *ngIf="recovertext">{{recoverMsg}}</div>
                    </div>
                    <div class="nextBtn-block">
                        <button type="button" class="btn w-90 buttonStart" (click)="recoverpassword()"
                            [disabled]="submitted && recoverpassForm.controls.password.value !== recoverpassForm.controls.confirmPassword.value">
                            SUBMIT </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="recover-pass-msg-container" *ngIf="showSuccessMsg == true">
            <div class="page-header-text">
                Recovery Password
            </div>
            <div class="subtext">
                Your Password has been {{recoverMsg}}!
            </div>
            <div class="subtext">
                Please Login to Continue
            </div>
            <div class="nextBtn-block">
                <button class="buttonStart" type="button" [routerLink]="'/login'">Login</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>