<app-header></app-header>
<div class="container row1 m-p-0">
    <div class="container">
      <div class="flex-display row10 m-60 ">
        <div class="row row100">
          <div class="heading">UNLEASH THE POWER OF LEARNING</div>
          <div class="content m-t-20">Behavioral science shows that simple and timely writing activities can help students
            cope with stress and unleash their skills. This app lets you send these activities to your students at times
            when they could help, with minimal intrusiveness on your teaching time. </div>
          <button class="buttonStart m-t-40" (click)="navigateToPage('registration')">GET STARTED</button>
        </div>
      </div>
    </div>
</div>
<div class="container text-center">
  <div class="how-it-works m-t-40">
    Here’s How it Works
  </div>
  <div class="row m-t-20 m-b-40">
    <div class="col-sm-4 flex-display-row flex-center">
      <div class="card-container">
        <div class="number">1</div>
        <div class="step">STEP</div>
        <img src="../../assets/images/002-calendar-1.svg" class="m-t-20 m-b-20" height="50px" width="50px">
        <div class="card-text">Record a date when you think students might feel stressed.</div>
      </div>
    </div>
    <div class="col-sm-4 flex-display-row flex-center">
      <div class="card-container">
        <div class="number">2</div>
        <div class="step">STEP</div>
        <img src="../../assets/images/004-add.svg" class="m-t-20 m-b-20" height="60px" width="48.89px">
        <div class="card-text">Create a roster to identify which students you need to help.</div>
      </div>
    </div>
    <div class="col-sm-4 flex-display-row flex-center">
      <div class="card-container">
        <div class="number">3</div>
        <div class="step">STEP</div>
        <img src="../../assets/images/001-email.svg" class="m-t-20 m-b-20" height="60px" width="50px">
        <div class="card-text">Sending writing activities that can help them.</div>
      </div>
    </div>
  </div>
  <button class="buttonStart" (click)="navigateToPage('registration')">GET STARTED</button>
  <div class="m-t-20 m-b-40">
    <a class="learn-more" (click)="navigateToPage('how-it-works')">LEARN MORE</a>
  </div>
</div>
<div class="bg-color-grey">
    <div class="container m-p-0 group-2">
        <div class="row m-p-0 row-pad">
          <div class="col-md-3 img-pad">
            <img src="../../assets/images/Phone.png">
          </div>
          <div class="col-md-9 cnt-pad">
            <div class="groupt2-text">
              <p class="impact">IMPACT</p>
              <p class="this-application-is m-t-27">This application is designed to let you send activities to your students
                at times
                when they could help. A fun and refreshing way to lower student stress and promote well-being.</p>
              <p class="this-application-is m-t-40"> Research shows that 10 weeks of the affirmation process
                is the optimal time to create real, lasting change.</p>
            </div>
            <div class="row m-t-20 padding-right-button">
              <div class="col-sm-6">
                <button class="buttonStart w-100" (click)="navigateToPage('registration')">GET STARTED</button>
              </div>
              <div class="col-sm-6">
                <button class="button-learn w-100" (click)="navigateToPage('about')">LEARN MORE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="bg-color-white">
  <div class="container m-p-0 group-2">
      <div class="row m-p-0 ">
        <div class="col-md-12 footer-pad">
          <div style="text-align:center" >
            <p class="footer-text m-t-40 ">The activities are designed for students 10 years old and up,
              including college students.
            </p>
            <p class="footer-text m-t-75 m-l-50"> To participate, students need to be able to read and write.</p>
              <p class="footer-text m-t-110"> Because the activities will be sent through email or text, they
                also need to have either an email account or a mobile phone.</p>
          </div>
          <div style="text-align:center;padding-top:24px">
            <button class="buttonStart" (click)="navigateToPage('registration')">GET STARTED</button>
            <div class="m-t-20 m-b-40">
              <a class="learn-more" (click)="navigateToPage('about')">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>

