<div class="container-fluid m-p-0">
    <div class="activity-card">
        <nav class="navbar custom-navbar">
            <div>
                <div class="navbar-header color-white-bar" style="margin:0 15px">
                    <div class="navbar-brand cursor-title color-dark" >Unleash</div>
                </div>
            </div>
       </nav>

      <div *ngIf="!showScreen2" class="act-sec1">
          <p class="lets-talk-values">Let's talk values.</p>
          <div class="act-sec2">
            <p class="p-text1">This is an activity that was sent to you by your teacher.</p>
            <p class="p-text2">It will take you about 10 minutes to complete in one sitting.</p>
          </div>
      </div>
      <div *ngIf="showScreen2" class="act-sec1">
          <p class="lets-talk-values mp-22">What are your personal values?</p>
          <p class="p-text1 mt-0">Remember, there are no right or wrong answers to any of these questions.</p>
      </div>

      <div class="act-sec3">
          <img class="img-wdth" src="../../../assets/images/004-magic.svg">
      </div>

      <div class="act-sec4">
          <div class="footer">
              <button *ngIf="!showScreen2" class="buttonBegin" (click)="showScreen2=true">BEGIN</button>
              <button *ngIf="showScreen2" class="buttonBegin" (click)="nextActivity()">NEXT</button>
          </div>
      </div>
    </div>
</div>
